n8n-masivo-personalizado.json
{
  "name": "Masivo Personalizado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "masivo-personalizado",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "a1000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "webhookId": "masivo-personalizado"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').item.json.body;\nconst mensajes = body.mensajes || [];\nconst remitente = body.remitente || '';\nconst codigo_remitente = body.codigo_remitente || '';\n\nreturn mensajes.map(m => ({\n  json: {\n    codigo: String(m.codigo),\n    mensaje: String(m.mensaje),\n    remitente,\n    codigo_remitente\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "id": "a1000001-0001-0001-0001-000000000003",
      "name": "Extraer mensajes"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 300],
      "id": "a1000001-0001-0001-0001-000000000004",
      "name": "Lotes de 5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM public.\"Perfiles_Generales\"\nWHERE estudiante_codigo = '{{ $json.codigo }}'\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 400],
      "id": "a1000001-0001-0001-0001-000000000005",
      "name": "Buscar subscriber_id",
      "credentials": {
        "postgres": {
          "id": "My6H5VkArUMxked3",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 400],
      "id": "a1000001-0001-0001-0001-000000000010",
      "name": "¿Encontrado?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  subscriber_id: String($json.id),\n  data: {\n    version: \"v2\",\n    content: {\n      type: \"whatsapp\",\n      messages: [\n        {\n          type: \"text\",\n          text: \"*Comunicado de \" + $('Lotes de 5').item.json.remitente + \":*\\n\\n\" + String($('Lotes de 5').item.json.mensaje).replace(/\\r\\n/g, '\\n')\n        }\n      ]\n    }\n  }\n}) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 500
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 340],
      "id": "a1000001-0001-0001-0001-000000000007",
      "name": "Enviar a ManyChat",
      "credentials": {
        "httpHeaderAuth": {
          "id": "q6x09GMARCv6CLuB",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 180],
      "id": "a1000001-0001-0001-0001-000000000009",
      "name": "Fin"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extraer mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer mensajes": {
      "main": [
        [
          {
            "node": "Lotes de 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lotes de 5": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar subscriber_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar subscriber_id": {
      "main": [
        [
          {
            "node": "¿Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Encontrado?": {
      "main": [
        [
          {
            "node": "Enviar a ManyChat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lotes de 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a ManyChat": {
      "main": [
        [
          {
            "node": "Lotes de 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
