referencias/flujos-n8n/RAG_Upload.json
{
  "name": "RAG_Upload",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        720,
        144
      ],
      "id": "9a3fadb1-d75b-4dda-bd42-1d1061412778",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "axobjzxlEt2nszsH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        336
      ],
      "id": "5229570c-6a0d-4e64-976b-97fe596ffb71",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PKGrXs1i8Z9AyRvC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "data",
                "value": "={{ $json.name }}"
              },
              {
                "name": "id",
                "value": "={{ $json.id || ($json.webViewLink.match(/\\/d\\/([^/]+)/)?.[1]) }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        832,
        288
      ],
      "id": "88a85c6b-ca20-4727-b1c5-cbaeb58a64cd",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        864,
        432
      ],
      "id": "aa92dbcb-b140-45c5-a71e-596d32bd02c6",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1LAFQLML3IB9iNF6E9UGN8BoG_iGGe54J",
          "mode": "list",
          "cachedResultName": "Documentos Normy",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LAFQLML3IB9iNF6E9UGN8BoG_iGGe54J"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        304,
        384
      ],
      "id": "a14f75ac-cc55-460c-b50d-98ffaadaf9b5",
      "name": "Se agrega un documento",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yUbNORx9NQqs28nW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1LAFQLML3IB9iNF6E9UGN8BoG_iGGe54J",
          "mode": "list",
          "cachedResultName": "Documentos Normy",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LAFQLML3IB9iNF6E9UGN8BoG_iGGe54J"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        288,
        48
      ],
      "id": "cba47c5b-70f2-42d4-9aeb-1f348f421493",
      "name": "Se actualiza un documento",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yUbNORx9NQqs28nW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filters": {
          "conditions": [
            {
              "keyName": "document_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        -48
      ],
      "id": "8b2f52eb-6229-4741-b883-68ff768ef5c4",
      "name": "Se borra el documento pasado",
      "credentials": {
        "supabaseApi": {
          "id": "axobjzxlEt2nszsH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        144
      ],
      "id": "89b30818-d3a0-42e3-ac2f-3f17d3d5155d",
      "name": "Se descarga el documento",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yUbNORx9NQqs28nW",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Se agrega un documento": {
      "main": [
        [
          {
            "node": "Se descarga el documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se actualiza un documento": {
      "main": [
        [
          {
            "node": "Se descarga el documento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Se borra el documento pasado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se descarga el documento": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2166c16a-112f-4a1f-841c-6fae81108c1b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68982fb78721fac6f9f5e6195f1359f50836b71709d5046c50ea3b1c2cfd775e"
  },
  "id": "1ZwQlTsVhfLj81EI",
  "tags": []
}